window#waybar {
    background: #11111b; /* rgba(0, 0, 0, 0); #11111b; */
    font-family: "Jetbrains Mono";
    font-size: 16px;
    color: #ffffff;
}

#clock {
    padding: 0 20px;
    background: #11111b;
}

/* Батарея */
#custom-battery {
    color: #a6e3a1;
}
#wireplumber {
    font-family: "Jetbrains Mono";
}

/* Панель трей */
#tray { 
padding: 0 20px; 
}

#menu {
font-size: 99999999999px;
color: #89b4fa;
}

#custom-cava {
	margin-left: 250px;
}
